node_modules
dist
build
coverage
.turbo
.next
out
.expo
*.tsbuildinfo
next-env.d.ts
expo-env.d.ts
apps/api/src/generated

.env
.env.*
!.env.example

.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

.idea
.vscode/*
!.vscode/extensions.json
